<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Email </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= link_to 'Edit', edit_user_path(@user) %></td>
      <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>
<h1>Events</h1>
<table>
  <thead>
  <tr>
    <th> Title</th>
    <th> Location</th>
    <th> Date</th>
  <tr>
  </thead>
  <tbody>
  <% @user.created_events.each do |e| %>
  <td> <%= link_to "#{e.title}" , e %> </td>
  <td> <%=e.location %> </td>
  <td> <%=e.date %> </td>
  <% end %>
  </tbody>
  
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
